$white: hsl(0, 0%, 100%);
$yellow: hsl(51, 100%, 49%);
$darkBlue: hsl(212, 27%, 19%);
$gray: hsl(232, 10%, 55%);

.navbar {
  position: absolute;

  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 2rem 5rem;

  font-family: "Barlow", sans-serif;

  img {
    height: 2.3rem;
  }

  .rest {
    display: flex;
    align-items: center;

    gap: 4rem;
    font-size: 18px;
    z-index: 99;

    .link {
      color: $white;

      &:hover {
        cursor: pointer;
      }
    }

    .contactButton {
      padding: 1rem 1.8rem;
      border-radius: 3rem;

      background-color: $white;

      font-family: "Fraunces", serif;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        @media (hover: hover) {
          color: white;
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  .hamburgerContainer {
    display: none;
    z-index: 99;
  }

  .oneMoreDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 2rem 1rem;
    .rest {
      display: none;
    }
    .mobile {
      display: flex;

      position: absolute;
      top: 16vh;
      right: 5%;

      padding: 3rem 0;

      width: 90%;
      max-width: 25rem;
      height: fit-content;

      background-color: white;

      flex-direction: column;
      gap: 2.5rem;

      color: gray;

      &::before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 14px solid transparent;
        border-right: 14px solid white;
        border-top: 14px solid transparent;
        border-bottom: 14px solid white;
        right: 0;
        top: -27px;
      }

      .link {
        color: $gray;
      }

      .contactButton {
        background-color: $yellow;
        color: $darkBlue;
      }
    }
    .hamburgerContainer {
      display: block;
    }
  }
}
